{% extends "base.html" %}

{% block title %}Accessory detail{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <h1 class="detail-site-header">{{accessory.name}}</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="{{ accessory.picture.url }}" class="img-fluid" alt="Accessory image">
    </div>
    <div class="col-sm">
      <p>Description: {{accessory.description}}</p>
      <p>Price: {{accessory.price}} €</p>
      <p>Store: <a href="{% url 'stores' accessory.store.pk %}">{{accessory.store.city}}</a></p>
      <ul class="list-group">
	<li class="list-group-item list-group-item-dark">Best with costume:</li>
	{% for ct in accessory.belongs_to_costume.all %}
	<li class="list-group-item">{{ct.name}}</li>
	{% endfor %}
      </ul>
      <!-- TODO: This should be a post request -->
      <div class="my-2">
	<a class="btn btn-primary" href="#" role="button">Add to basket</a>
	<!-- TODO: Edit should be possible only if the user has privileges to do it-->
	<a class="btn btn-success" href="{% url 'accessories_edit' accessory.pk %}" role="button">Edit</a>
	<a class="btn btn-danger" href="{% url 'accessories_delete' accessory.pk %}" role="button">Delete</a>
      </div>
    </div>
  </div>
  <!-- TODO: Show only employees or managers -->
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
	<p class="list-group-item list-group-item-dark">Borrowings with this costume:</p>
	{% for borrowing in accessory.borrowing_set.all %}
	<li class="list-group-item"><a href="{% url 'borrowing' borrowing.pk %}">
	    Number: {{borrowing.pk}}
	    Event: {{borrowing.event}}
	    Costumes: {{borrowing.costume.all|length}}
	    Accesories: {{borrowing.accessory.all|length}}
	    From: {{borrowing.borrowed_date}}
	    To: {{borrowing.return_date}}
	</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
