{% extends "base.html" %}

{% block title %}Accessory detail{% endblock %}

{% block content %}
<div class="container" style="padding-top: 1rem;">
  <div class="row">
    <h1 class="detail-site-header">{{accessory.name}}</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="{{ accessory.picture.url }}" class="img-fluid" alt="Accessory image">
    </div>
    <div class="col-sm">
      <p>Description: {{accessory.description}}</p>
      <p>Price: {{accessory.price}} €</p>
      <p>Store: {{accessory.store.city}}</p>
      <div class="list-group">
	<p class="list-group-item list-group-item-dark">Best with costume:</p>
	{% for ct in accessory.belongs_to_costume.all %}
	<li class="list-group-item">{{ct.name}}</li>
	{% endfor %}
      </div>
      <!-- TODO: This should be a post request -->
      <div class="my-2">
	<a class="btn btn-primary" href="#" role="button">Add to basket</a>
	<!-- TODO: Edit should be possible only if the user has privileges to do it-->
	<a class="btn btn-primary" href="{% url 'accessories_edit' accessory.pk %}" role="button">Edit</a>
	<a class="btn btn-primary" href="{% url 'accessories_delete' accessory.pk %}" role="button">Delete</a>
	<a class="btn btn-primary" href="{% url 'accessories_duplicate' accessory.pk %}" role="button">Duplicate</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
