{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Borrinwgs{% endblock %}

{% block content %}
<div class="container my-3">
  <form action="" method="get" class="mt-2 mb-4">
    {% csrf_token %}
    {% bootstrap_form filter.form %}
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <ul class="list-group">
    <p class="list-group-item list-group-item-dark">Current borrowings in the system:</p>
    {% for borrowing in filter.qs %}
    <li class="list-group-item"><a href="{% url 'borrowing' borrowing.pk %}">
	{% if borrowing.employee_borrowed == None %}
	<span class="badge badge-danger">Missing employee</span>
	{% endif %}
	Number: {{borrowing.pk}}
	Event: {{borrowing.event}}
	Costumes: {{borrowing.costume.all|length}}
	Accesories: {{borrowing.accessory.all|length}}
	From: {{borrowing.borrowed_date|date}}
        To: {{borrowing.borrowed_date|add:borrowing.borrowing_expiration}}
    </a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
