{% extends "base.html" %}

{% block title %}Borrowing detail{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <h1 class="detail-site-header">Borrowing no. {{borrowing.pk}}</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">

	<li class="list-group-item list-group-item-dark">Costumes borrowed:</li>
	{% for costume in borrowing.costume.all %}
	<li class="list-group-item"><a href="{% url 'costumes' costume.pk %}">{{costume.costume_template.name}}</a></li>
	{% endfor %}

	<li class="list-group-item list-group-item-dark">Accessories borrowed:</li>
	{% for accessory in borrowing.accessory.all %}
	<li class="list-group-item"><a href="{% url 'accessories' accessory.pk %}">{{accessory.name}}</a></li>
	{% endfor %}

      </ul>
    </div>
    <div class="col-sm">
      <p>Event: {{borrowing.event}}</p>
      <p>From: {{borrowing.borrowed_date}}</p>
      <p>To: {{borrowing.return_date}}</p>
      <p>Price: {{borrowing.final_price}} €</p>
      <p>Customer: {{borrowing.customer.user.username}}</p>
      <p>Employee: {{borrowing.employee_borrowed.user.username}}</p>
      <!-- TODO: Priviledges -->
      <div class="my-2">
	<a class="btn btn-success" href="{% url 'borrowing_edit' borrowing.pk %}" role="button">Edit</a>
	<a class="btn btn-danger" href="{% url 'borrowing_delete' borrowing.pk %}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
