{% extends "base.html" %}

{% block title %}Costume detail{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <h1 class="detail-site-header">{{costume.costume_template.name}}</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="{{ costume.picture.url }}" class="img-fluid" alt="Costume image">
    </div>
    <div class="col-sm">
      <p>Description: {{costume.costume_template.description}}</p>
      <p>Size: {{costume.size}}</p>
      <p>Color: {{costume.color}}</p>
      <p>Material: {{costume.costume_template.material}}</p>
      <p>Price: {{costume.price}} €</p>
      <p>Manufactured: {{costume.manufactured}}</p>
      <p>Manufacturer: {{costume.costume_template.manufacturer}}</p>
      <p>Wear-out: {{costume.wear_out}}</p>
      <p>Store: <a href="{% url 'stores' costume.store.pk %}">{{costume.store.city}}</a></p>
      <ul class="list-group my-1">
	<li class="list-group-item list-group-item-dark">Best with accessories:</li>
	{% for accessory in costume.costume_template.accessory_set.all %}
	<li class="list-group-item"><a href="{% url 'accessories' accessory.pk %}">{{accessory.name}}</a></li>
	{% endfor %}
      </ul>
      <div class="my-2">
  <!-- TODO: This should be a post request -->
  {% if request.user.customer %}
  <a class="btn btn-primary" href="/add_costume_to_basket?id={{ costume.id }}" role="button">Add to basket</a>
  {% endif %}
	<a class="btn btn-primary" href="{% url 'costume_templates' costume.costume_template.pk %}" role="button">Show other variants</a>
	{% if request.user.employee.id == costume.employee.id %}
	<a class="btn btn-success" href="{% url 'costumes_edit' costume.pk %}" role="button">Edit</a>
  <a class="btn btn-danger" href="{% url 'costumes_delete' costume.pk %}" role="button">Delete</a>
  {% endif %}
      </div>
    </div>
  </div>
  {% if request.user.employee or request.user.manager %}
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
	<li class="list-group-item list-group-item-dark">Borrowings with this costume:</li>
	{% for borrowing in costume.borrowing_set.all %}
	<li class="list-group-item"><a href="{% url 'borrowing' borrowing.pk %}">
	    Number: {{borrowing.pk}}
	    Event: {{borrowing.event}}
	    Costumes: {{borrowing.costume.all|length}}
	    Accesories: {{borrowing.accessory.all|length}}
	    From: {{borrowing.borrowed_date}}
	    To: {{borrowing.return_date}}
	</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
