<div class="col-lg-4 col-md-6 mb-4">
  <a href="{% url 'costumes' costume.id %}">
    <div class="card h-100">
      <img class="card-img-top" src="{{costume.picture.url}}" alt="Card image cap">
      <div class="card-body">
	<h4 class="card-title">{{costume.costume_template.name}}</h4>
	<p class="card-text">Description: {{costume.costume_template.description}}</p>
      </div>
      <div class="card-footer">
	<p class="card-text">{{costume.price}} €</small>
      </div>
    </div>
  </a>
</div>
