{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Costume detail{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <h1 class="detail-site-header">{{costume.costume_template.name}}</h1>
  </div>
  <div class="col-lg-12">
    <form action="{% url 'costumes_edit' costume.pk %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit" value="Submit">Save</button>
    </form>
  </div>
</div>
{% endblock %}
