{% extends "base.html" %}

{% block title %}Costume detail{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <h1 class="detail-site-header">{{costume.costume_template.name}}</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="{{ costume.picture.url }}" class="img-fluid" alt="Costume image">
    </div>
    <div class="col-sm">
      <p>Description: {{costume.costume_template.description}}</p>
      <p>Size: {{costume.size}}</p>
      <p>Color: {{costume.color}}</p>
      <p>Material: {{costume.costume_template.material}}</p>
      <p>Price: {{costume.price}} €</p>
      <p>Manufactured: {{costume.manufactured}}</p>
      <p>Manufacturer: {{costume.costume_template.manufacturer}}</p>
      <p>Wear-out: {{costume.wear_out}}</p>
      <p>Store: <a href="{% url 'stores' costume.store.pk %}">{{costume.store.city}}</a></p>
      <div class="list-group">
	<p class="list-group-item list-group-item-dark">Best with accessories:</p>
	{% for accessory in costume.costume_template.accessory_set.all %}
	<a href="{% url 'accessories' accessory.pk %}"><li class="list-group-item">{{accessory.name}}</li></a>
	{% endfor %}
      </div>
      <div class="my-2">
	<!-- TODO: This should be a post request -->
	<a class="btn btn-primary" href="#" role="button">Add to basket</a>
	<!-- TODO: Edit should be possible only if the user has privileges to do it-->
	<a class="btn btn-primary" href="{% url 'costumes_edit' costume.pk %}" role="button">Edit</a>
	<a class="btn btn-primary" href="{% url 'costumes_delete' costume.pk %}" role="button">Delete</a>
	<a class="btn btn-primary" href="{% url 'costumes_duplicate' costume.pk %}" role="button">Duplicate</a>
      </div>
    </div>
  </div>
  <!-- TODO: Show only employees or managers -->
  <div class="row">
    <div class="col-sm">
      <div class="list-group">
	<p class="list-group-item list-group-item-dark">Borrowings with this costume:</p>
	{% for borrowing in costume.borrowing_set.all %}
	<a href="{% url 'borrowings' borrowing.pk %}"><li class="list-group-item">
	    Number: {{borrowing.pk}}
	    Event: {{borrowing.event}}
	    Costumes: {{borrowing.costume.all|length}}
	    Accesories: {{borrowing.accessory.all|length}}
	    From: {{borrowing.borrowed_date}}
	    To: {{borrowing.return_date}}
	</li></a>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
