{% extends "base.html" %}

{% block title %}IIS - gallery{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- TODO: Stores should have images or maps? -->
      <img src="http://www.placehold.it/500x500"/>
    </div>
    <div class="col-sm">
      <h1>City: {{store.city}}</h1>
      <p>Street: {{store.street}}</p>
      <div class="list-group">
	<p class="list-group-item list-group-item-dark">Opening hours:</p>
	<p class="list-group-item">MON: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">TUE: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">WED: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">THU: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">FRI: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">SAT: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">SUN: {{store.opened_from}} - {{store.opened_to}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
