{% extends "base.html" %}

{% block title %}IIS - gallery{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="col-sm">
      <h1>City: {{store.city}}</h1>
      <p>Street: {{store.street}}</p>
      <p>Number: {{store.num}}</p>
      <div class="list-group">
	<p class="list-group-item list-group-item-dark">Opening hours:</p>
	<p class="list-group-item">MON: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">TUE: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">WED: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">THU: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">FRI: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">SAT: {{store.opened_from}} - {{store.opened_to}}</p>
	<p class="list-group-item">SUN: {{store.opened_from}} - {{store.opened_to}}</p>
      </div>
      <!-- TODO: Show only when user has enough priviledges -->
      <div class="my-2">
        {% for group in request.user.groups.all %}
        {% if group.name == "super_manager" %}
	        <a class="btn btn-success" href="{% url 'stores_edit' store.pk %}" role="button">Edit</a>
          <a class="btn btn-danger" href="{% url 'stores_delete' store.pk %}" role="button">Delete</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
