{% extends "base.html" %}

{% block title %}IIS - user borrowings{% endblock %}

{% block content %}
<div class="container my-3">
  <ul class="list-group">
    <p class="list-group-item list-group-item-dark">Current borrowings for user {{ user.username }}</p>
    {% for borrowing in borrowings %}
    <li class="list-group-item"><a href="{% url 'borrowing' borrowing.pk %}">
	Number: {{borrowing.pk}}
	Event: {{borrowing.event}}
	Costumes: {{borrowing.costume.all|length}}
	Accesories: {{borrowing.accessory.all|length}}
	From: {{borrowing.borrowed_date|date}}
        To: {{borrowing.borrowed_date|add:borrowing.borrowing_expiration}}
    </a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
