<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>{% block title %}IIS{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="{% static 'costumes/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/css/util.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'costumes/css/main.css' %}">
    <!--===============================================================================================-->
  </head>
  <body>

    {% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

	<ul class="navbar-nav mr-auto">

	  <li class="nav-item active">

	    <a class="nav-link" href="/">Gallery</a>

	  </li>

	  <li class="nav-item">

	    <a class="nav-link" href="/costumes">Costumes</a>

	  </li>

	  <li class="nav-item">

	    <a class="nav-link" href="/accessories">Accessories</a>

	  </li>

	  <li class="nav-item">

	    <a class="nav-link" href="/stores">Stores</a>

	  </li>

	</ul>

      </div>

      <div class="mx-auto order-0">

	<a class="navbar-brand mx-auto" href="/">{% block nav-title %}IIS-project{% endblock %}</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">

	  <span class="navbar-toggler-icon"></span>

	</button>

      </div>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

	<ul class="navbar-nav ml-auto">

	  {% if request.user.is_staff %}
    
      {% for group in request.user.groups.all %}
        {% if group.name == "manager" %}
	        <li class="nav-item">

            <a class="nav-link" href="/manage_staff">Manage shop</a>

          </li>
        {% endif %}
        {% if group.name == "staff" %}
	        <li class="nav-item">

            <a class="nav-link" href="#">Add new costume</a>

          </li>
        {% endif %}
      {% endfor %}

    {% endif %}
    

    {% if request.user.is_authenticated %}

    <li class="nav-item">

      <a class="nav-link" href="/user">Profile (logged as: {{ request.user.username}})</a>
      
    </li>
    
    <li class="nav-item">

        <a class="nav-link" href="/settings">Settings</a>
  
    </li>

	  <li class="nav-item">

	    <a class="nav-link" href="{% url 'borrowings_gallery' %}">Borrowings</a>

	  </li>

	  <li class="nav-item">

	    <a class="btn btn-secondary" href="/basket">My basket{% if basket_num %} ({{basket_num}}){% endif %}</a>

	  </li>

	  <li class="nav-item">

	    <a class="nav-link" href="/logout">Log out</a>

	  </li>
	  {% else %}
	  <li class="nav-item">

	    <a class="nav-link" href="/login">Login</a>

	  </li>
	  {% endif %}

	</ul>

      </div>

    </nav>
    {% endblock %}

    {% block content %}<p> Here will be a site content </p>{% endblock %}

  </body>

  {% block footer %}
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; IIS 2018</p>
    </div>
  </footer>
  {% endblock %}

  <script src="{% static 'costumes/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'costumes/vendor/animsition/js/animsition.min.js' %}"></script>
  <script src="{% static 'costumes/vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'costumes/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'costumes/vendor/select2/select2.min.js' %}"></script>
  <script src="{% static 'costumes/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'costumes/vendor/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'costumes/vendor/countdowntime/countdowntime.js' %}"></script>
  <script src="{% static 'costumes/js/main.js' %}"></script>
</html>
