{% extends "base.html" %}

{% block title %}IIS - edit manager{% endblock %}

{% block content %}

<div class="container" style="padding-top: 1rem;">
    <div class="row shadow p-3 mb-5 bg-white rounded border-top align-items-center">
        <div  style="margin: 0 auto;">
            <form method="POST" action="/edit_manager/script">
                {% csrf_token %}
                <input hidden name="id" value="{{ manager.id }}">
                <label>First name</label>
                <input name="first_name" class="form-control" value="{{ manager.first_name }}"><br>
                <label>Last name</label>
                <input name="last_name" class="form-control" value="{{ manager.last_name }}"><br>
                <label>Email</label>
                <input name="email" type="email" class="form-control" value="{{ manager.email }}"><br>
                <label>Address</label>
                <input name="address" class="form-control" value="{{ manager.manager.address }}"><br>
                <label>Tel. number</label>
                <input name="tel_num" class="form-control" value="{{ manager.manager.tel_num }}"><br>
                <label>Working location</label>
                <select name="store" class="form-control">
                    <option selected value>-- None --</option>
                    {% for s in store %}
                    {% if s.id == manager.manager.store.id %}
                        <option selected="selected" value="{{ s.id }}">{{ s.street }}</option>
                    {% else %}
                        <option value="{{ s.id }}">{{ s.street }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input style="margin-top: 20px;" type="checkbox" name="super_manager" value="true" {% if is_super_manager %} checked {% endif %}> Is super manager<br>
                <div style="margin-top:40px;">
                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}