{% extends "base.html" %}

{% block title %}IIS - manage{% endblock %}

{% block content %}


<div class="container" style="padding-top: 1rem;">
{% for u in users %}
    {% if user.is_staff %}
    <div class="row shadow p-3 mb-5 bg-white rounded">
        <div style="width:300px;padding: 10px;">
            {{u.first_name}} {{u.last_name}}<br>
            login: {{u.username}}<br>
        </div>
        <div class="border-left" style="width:300px;padding: 10px;">
            {% for g in u.groups.all %}
                    Ocupation: {{g.name}}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}