{% extends "base.html" %}

{% block title %}IIS - manage{% endblock %}

{% block content %}

<div class="container" style="padding-top: 1rem;">
    <div class="row shadow p-3 mb-5 bg-white rounded border-top align-items-center">
        <div  style="margin: 0 auto;">
            <form method="POST" action="/user_change_password/script">
                {% csrf_token %}
                {% if invalid_password %}
                <div class="form-group">
					<label for="exampleInput" class="btn btn-danger">Invalid password</label>
				</div>
                {% endif %}
                <label>*Current password</label>
                <input required minlength="6" type="password" name="old_password" class="form-control"><br>
                <label>*New password</label>
                <input required minlength="6" type="password" name="new_password" class="form-control"><br>
                <small class="form-text text-muted">Must be at least 6 characters long</small>
                <button type="submit" class="btn btn-primary btn-block">Save password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}